#* @vtlvariable name="reporter" type="com.atlassian.confluence.extra.impresence2.reporter.PresenceReporter" *#
#if ($isAdmin)
    #parse ( "/template/includes/actionerrors.vm" )
    <div class="aui-message aui-message-warning">
        <p class="title"><strong>$reporter.name</strong></p>
        <p>$i18n.getText("impresence.template.reporternotconfigured.label.neeadminconfig", [ $reporter.name ] )</p>
        <p><a href="${req.contextPath}/admin/plugins/impresence2/${reporter.key}/config.action">$i18n.getText("impresence.template.reporternotconfigured.label.configservice", [ $reporter.name ] )</a></p>
    </div>
#else
    <div class="aui-message aui-message-warning">
        <p>$i18n.getText("impresence.template.reporternotconfigured.label.neeadminconfig", [ $reporter.name ] )</p>
    </div>
#end
