#* @vtlvariable name="action" type="com.atlassian.confluence.extra.impresence2.config.SametimePresenceConfigAction" *#
<html>
	<head>
		<title>$i18n.getText("impresence.template.config.title", [ $action.reporter.name ] )</title>
	</head>
	<body>
        #parse ( "/template/includes/actionerrors.vm" )

        <div class="aui-message aui-message-info">
            <ol>
                <li>$i18n.getText("impresence.template.sametimepresence.config.label.sametimelinksdownload")</li>
                <li>$i18n.getText("impresence.template.sametimepresence.config.label.specifylocation", [ $action.reporter.name ] )</li>
            </ol>
        </div>

        <div id="sametimeconfigstatetable">
            <form class="aui" name="configuresametimeform" action="$req.contextPath/admin/plugins/impresence2/${action.reporter.key}/doconfig.action" method="POST">
                #form_xsrfToken()
                <fieldset>
                    <div class="field-group">
                        <label for="server">
                            $i18n.getText("impresence.template.config.label.server")
                            <span class="aui-icon icon-required">$i18n.getText("impresence.template.required")</span>
                        </label>
                        <input type="text" class="text" name="server" value="$!generalUtil.htmlEncode($action.server)">
                    </div>
                </fieldset>
                <div class="buttons-container">
                    <div class="buttons">
                        <input type="submit" class="button submit" name="update" value="$i18n.getText('impresence.template.config.control.button.update')">
                        <a href="$req.contextPath/admin/plugins/impresence2/config.action">$i18n.getText("impresence.template.config.control.link.backtoimconfig")</a>
                    </div>
                </div>
            </form>
        </div>
		#parse ( "/admin/admin-breadcrumbs.vm" )
	</body>
</html>
